body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    
}

.collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


main {
    flex-grow: 1;
    gap:50px;
}


.banner {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

nav {
    background-color: #453a3a;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    
}

nav ul {
    list-style: none;
    margin: 25px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgb(188, 175, 106);
    border-bottom: 3px solid rgb(188, 175, 106);
}

nav a {
    text-decoration: none;
    color: #fff;
    
}
nav ul li:hover {
    background-color: rgb(188, 175, 106);
}

nav ul a:hover {
    color: #453a3a;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(188, 175, 106);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

a.btn-danger {
    display: inline-block;
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

a.btn:hover, a.btn-danger:hover {
    opacity: 0.8;
}

form {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.main-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #47494b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    
}

.error-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

