<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Error 404 - Page introuvable</title>
</head>
<body>
    <div class="error-container">
        <h1>404</h1>
        <p>Désolé, la page que vous recherchez est introuvable.</p>
        <img src="./assets/img/pexels-monstera-production-6373296.jpg" alt="Monstera" class="error-image" style="max-width: 50%; height: auto;">
        
    </div>
</body>
</html>