<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Erreur de suppression  </title>
</head>
<body>
    <div class="error-container">
        
        <h3>
            <p>L'utilisateur ne peut pas être supprimé parce qu'il a un livre emprunté dans notre base de données !</p>
        </h3>
        <img src="../assets/img/pexels-pixabay-39584.jpg" class="error-image" style="max-width: 50%; height: auto;">
        
    </div>
</body>
</html>